In [124]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [125]:
%sql ibm_db_sa://gqs15811:05%5Ep55nfbkvqx0ch@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [24]:
%sql select * from SYSCAT.TABLES where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('GQS15811', 'CHICAGO_CRIME_DATA', 'GQS15811', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2020, 12, 27, 12, 51, 20, 886660), datetime.datetime(2020, 12, 27, 12, 51, 20, 886660), datetime.datetime(2020, 12, 27, 12, 51, 20, 886660), datetime.datetime(2020, 12, 27, 13, 2, 50, 192045), 22, 16, 699, 533, 4, 0, 5, -1, -1, -1, 0, 'gqs15811space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 241, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2020, 12, 27, 12, 51, 20, 886660), 0, ' ', None, None, 'N', 'GQS15811', ' ', ' ', ' ', datetime.date(2020, 12, 27), ' ', 'N', 'R', 'N', -1.0, None)]

In [25]:
%sql select * from SYSCAT.TABLES where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('GQS15811', 'CHICAGO_PUBLIC_SCHOOLS', 'GQS15811', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2020, 12, 27, 12, 37, 19, 94407), datetime.datetime(2020, 12, 27, 12, 37, 19, 94407), datetime.datetime(2020, 12, 27, 12, 37, 19, 94407), datetime.datetime(2020, 12, 27, 12, 37, 49, 560873), 78, 15, 699, 566, 15, 0, 16, -1, -1, -1, 0, 'gqs15811space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 844, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2020, 12, 27, 12, 37, 19, 94407), 0, ' ', None, None, 'N', 'GQS15811', ' ', ' ', ' ', datetime.date(2020, 12, 27), ' ', 'N', 'R', 'N', -1.0, None)]

In [26]:
%sql select * from SYSCAT.TABLES where TABNAME = 'CENSUS_DATA'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('GQS15811', 'CENSUS_DATA', 'GQS15811', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2020, 12, 27, 12, 35, 40, 95904), datetime.datetime(2020, 12, 27, 12, 35, 40, 95904), datetime.datetime(2020, 12, 27, 12, 35, 40, 95904), datetime.datetime(2020, 12, 27, 12, 47, 49, 773198), 9, 14, 699, 78, 1, 0, 2, -1, -1, -1, 0, 'gqs15811space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2020, 12, 27, 12, 35, 40, 95904), 0, ' ', None, None, 'N', 'GQS15811', ' ', ' ', ' ', datetime.date(2020, 12, 27), ' ', 'N', 'R', 'N', -1.0, None)]

In [29]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('22'),)]

In [30]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [31]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CENSUS_DATA'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('9'),)]

In [32]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'TIMESTAMP', 10),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 33),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('UPDATEDON', 'TIMESTAMP', 10),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29)]

In [33]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 65),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('Street_Address', 'VARCHAR', 30),
 ('City', 'VARCHAR', 7),
 ('State', 'VARCHAR', 2),
 ('ZIP_Code', 'INTEGER', 4),
 ('Phone_Number', 'VARCHAR', 14),
 ('Link', 'VARCHAR', 78),
 ('Network_Manager', 'VARCHAR', 40),
 ('Collaborative_Name', 'VARCHAR', 34),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR', 3),
 ('Track_Schedule', 'VARCHAR', 12),
 ('CPS_Performance_Policy_Status', 'VARCHAR', 16),
 ('CPS_Performance_Policy_Level', 'VARCHAR', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('Safety_Icon', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('Family_Involvement_Icon', 'VARCHAR', 11),
 ('Family_Involvement_Score', 'VARCHAR', 3),
 ('Environment_Icon', 'VARCHAR', 11),
 ('Environment_Score', 'SMALLINT', 2),
 ('Instruction_Icon', 'VARCHAR', 11),
 ('Instruction_Score', 'SMALLINT', 2),
 ('Leaders_Icon', 'VARCHAR', 11),
 ('Leaders_Score', 'VARCHAR', 3),
 ('Teachers_Icon', 'VARCHAR', 11),
 ('Teachers_Score', 'VARCHAR', 3),
 ('Parent_Engagement_Icon', 'VARCHAR', 7),
 ('Parent_Engagement_Score', 'VARCHAR', 3),
 ('Parent_Environment_Icon', 'VARCHAR', 7),
 ('Parent_Environment_Score', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL', 5),
 ('Average_Teacher_Attendance', 'VARCHAR', 6),
 ('Individualized_Education_Program_Compliance_Rate', 'VARCHAR', 7),
 ('Pk_2_Literacy__', 'VARCHAR', 4),
 ('Pk_2_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr_8_Explore_Math__', 'VARCHAR', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR', 4),
 ('ISAT_Exceeding_Math__', 'DECIMAL', 4),
 ('ISAT_Exceeding_Reading__', 'DECIMAL', 4),
 ('ISAT_Value_Add_Math', 'DECIMAL', 3),
 ('ISAT_Value_Add_Read', 'DECIMAL', 3),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR', 6),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR', 6),
 ('Students_Taking__Algebra__', 'VARCHAR', 4),
 ('Students_Passing__Algebra__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR', 3),
 ('College_Eligibility__', 'VARCHAR', 4),
 ('Graduation_Rate__', 'VARCHAR', 4),
 ('College_Enrollment_Rate__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('General_Services_Route', 'SMALLINT', 2),
 ('Freshman_on_Track_Rate__', 'VARCHAR', 4),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('Latitude', 'DECIMAL', 18),
 ('Longitude', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('Ward', 'SMALLINT', 2),
 ('Police_District', 'SMALLINT', 2),
 ('Location', 'VARCHAR', 27)]

In [34]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CENSUS_DATA'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('PERCENT_OF_HOUSING_CROWDED', 'DECIMAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'DECIMAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'DECIMAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'DECIMAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'DECIMAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 4),
 ('HARDSHIP_INDEX', 'SMALLINT', 2)]

In [37]:
%sql select * FROM SYSCAT.COLUMNS WHERE TABNAME = 'CHICAGO_CRIME_DATA' LIMIT 5

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('GQS15811', 'CHICAGO_CRIME_DATA', 'ID', 0, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 533, '11233321', '23469', 5, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_CRIME_DATA', 'CASE_NUMBER', 1, 'SYSIBM  ', 'VARCHAR', 8, 0, 'OCTETS', 8, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 533, "'JB155558'", "'G040244'", 13, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 8, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_CRIME_DATA', 'DATE', 2, 'SYSIBM  ', 'TIMESTAMP', 10, 6, None, None, None, 'Y', 0, None, None, ' ', ' ', 488, "'2018-02-16-08.18.00.000000'", "'2001-01-19-18.39.03.000000'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_CRIME_DATA', 'BLOCK', 3, 'SYSIBM  ', 'VARCHAR', 35, 0, 'OCTETS', 35, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 533, "'132XX S RIVERDALE AVE'", "'0000X E OHIO ST'", 23, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 18, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_CRIME_DATA', 'IUCR', 4, 'SYSIBM  ', 'VARCHAR', 4, 0, 'OCTETS', 4, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 112, "'930'", "'041A'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None)]

In [39]:
%sql select * FROM SYSCAT.COLUMNS WHERE TABNAME = 'CHICAGO_PUBLIC_SCHOOLS' LIMIT 5

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('GQS15811', 'CHICAGO_PUBLIC_SCHOOLS', 'School_ID', 0, 'SYSIBM  ', 'INTEGER', 4, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 566, '610543', '609674', 5, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_PUBLIC_SCHOOLS', 'NAME_OF_SCHOOL', 1, 'SYSIBM  ', 'VARCHAR', 65, 0, 'OCTETS', 65, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 566, "'Woodlawn Community Elementary Sch'", "'Abraham Lincoln Elementary School'", 41, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 36, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_PUBLIC_SCHOOLS', 'Elementary, Middle, or High School', 2, 'SYSIBM  ', 'VARCHAR', 2, 0, 'OCTETS', 2, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 3, "'MS'", "'ES'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_PUBLIC_SCHOOLS', 'Street_Address', 3, 'SYSIBM  ', 'VARCHAR', 30, 0, 'OCTETS', 30, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 566, "'9912 S Avenue H'", "'10015 S Leavitt St'", 22, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 17, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CHICAGO_PUBLIC_SCHOOLS', 'City', 4, 'SYSIBM  ', 'VARCHAR', 7, 0, 'OCTETS', 7, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 1, "'Chicago'", "'Chicago'", 12, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 7, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None)]

In [40]:
%sql select * FROM SYSCAT.COLUMNS WHERE TABNAME = 'CENSUS_DATA'  LIMIT 5

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('GQS15811', 'CENSUS_DATA', 'COMMUNITY_AREA_NUMBER', 0, 'SYSIBM  ', 'SMALLINT', 2, 0, None, None, None, 'Y', 0, None, None, ' ', ' ', 78, '77', '2', 3, None, 0, 20, 10, 1, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CENSUS_DATA', 'COMMUNITY_AREA_NAME', 1, 'SYSIBM  ', 'VARCHAR', 22, 0, 'OCTETS', 22, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 78, "'West Town'", "'Archer Heights'", 16, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 11, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CENSUS_DATA', 'PERCENT_OF_HOUSING_CROWDED', 2, 'SYSIBM  ', 'DECIMAL', 4, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 56, '+015.2', '+000.8', 4, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CENSUS_DATA', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 3, 'SYSIBM  ', 'DECIMAL', 4, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 68, '+051.2', '+003.4', 4, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('GQS15811', 'CENSUS_DATA', 'PERCENT_AGED_16__UNEMPLOYED', 4, 'SYSIBM  ', 'DECIMAL', 4, 1, None, None, None, 'Y', 0, None, None, ' ', ' ', 67, '+034.6', '+004.9', 4, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, -1, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None)]

In [41]:
%sql select COUNT(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [43]:
%sql select * from CHICAGO_CRIME_DATA LIMIT 10

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.datetime(2004, 8, 28, 17, 50, 56), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.datetime(2004, 6, 26, 12, 40), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.datetime(2010, 12, 30, 16, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', datetime.datetime(2010, 9, 29, 7, 59), '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', datetime.datetime(2016, 11, 30, 1, 15), '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', datetime.datetime(2005, 12, 16, 16, 45), '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', datetime.datetime(2005, 1, 28, 17, 0), '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', datetime.datetime(2004, 5, 13, 14, 15), '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

In [44]:
%sql select COUNT(*) FROM CHICAGO_CRIME_DATA WHERE ARREST = 'TRUE'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

In [55]:
%sql select PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('THEFT',),
 ('THEFT',),
 ('NARCOTICS',),
 ('ROBBERY',),
 ('ROBBERY',),
 ('CRIMINAL TRESPASS',)]

In [59]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

In [66]:
%sql select COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME LIKE 'B%'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

In [67]:
%sql select * FROM CENSUS_DATA LIMIT 5

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39),
 (2, 'West Ridge', Decimal('7.8'), Decimal('17.2'), Decimal('8.8'), Decimal('20.8'), Decimal('38.5'), 23040, 46),
 (3, 'Uptown', Decimal('3.8'), Decimal('24.0'), Decimal('8.9'), Decimal('11.8'), Decimal('22.2'), 35787, 20),
 (4, 'Lincoln Square', Decimal('3.4'), Decimal('10.9'), Decimal('8.2'), Decimal('13.4'), Decimal('25.5'), 37524, 17),
 (5, 'North Center', Decimal('0.3'), Decimal('7.5'), Decimal('5.2'), Decimal('4.5'), Decimal('26.2'), 57123, 6)]

In [69]:
%sql select * FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 5

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', Decimal('2.3'), '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56, 'Average', '44', 'Average', 45, 'Weak', 37, 'Strong', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', Decimal('10.4'), '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', Decimal('11.1'), Decimal('9.6'), Decimal('0.9'), Decimal('2.4'), 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', Decimal('1164504.290'), Decimal('1873959.199'), Decimal('41.80975690'), Decimal('-87.67214460'), 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49, 'Strong', '60', 'Strong', 60, 'Average', 55, 'Average', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', Decimal('15.6'), '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', Decimal('1175177.622'), Decimal('1880745.126'), Decimal('41.82814609'), Decimal('-87.63279369'), 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

In [85]:
%sql select * FROM CHICAGO_PUBLIC_SCHOOLS WHERE COMMUNITY_AREA_NUMBER LIKE '10' AND HEALTHY_SCHOOL_CERTIFIED = 'Yes'

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(609995, 'Rufus M Hitch Elementary School', 'ES', '5625 N McVicker Ave', 'Chicago', 'IL', 60646, '(773) 534-1189', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609995.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Strong', 64, 'Strong', '77', 'Average', 55, 'Average', 58, 'Strong', '65', 'Strong', '70', 'Strong', '55', 'Strong', '54', '95.10%', Decimal('3.7'), '96.60%', '98.60%', '73.7', '27.6', '62.2', '51.7', '50', '67.8', '56.5', '54.8', '52', '63.3', '22.9', '37.5', Decimal('29.5'), Decimal('24.7'), Decimal('-0.1'), Decimal('0.0'), 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 542, 30, 'NDA', Decimal('1134940.195'), Decimal('1937129.571'), Decimal('41.98367756'), Decimal('-87.77908614'), 10, 'NORWOOD PARK', 45, 16, '(41.98367756, -87.77908614)')]

In [2]:
%sql select NAME_OF_SCHOOL, COMMUNITY_AREA_NUMBER, HEALTHY_SCHOOL_CERTIFIED\
FROM CHICAGO_PUBLIC_SCHOOLS\
WHERE HEALTHY_SCHOOL_CERTIFIED = 'Yes' \
AND 9 < COMMUNITY_AREA_NUMBER \
AND 15 > COMMUNITY_AREA_NUMBER

UsageError: Line magic function `%sql` not found.

In [121]:
%sql SELECT AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [160]:
%sql SELECT COMMUNITY_AREA_NAME, COLLEGE_ENROLLMENT \
FROM CHICAGO_PUBLIC_SCHOOLS \
ORDER BY COMMUNITY_AREA_NAME

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 266),
 ('ALBANY PARK', 1023),
 ('ALBANY PARK', 1299),
 ('ALBANY PARK', 919),
 ('ALBANY PARK', 359),
 ('ALBANY PARK', 1490),
 ('ALBANY PARK', 269),
 ('ALBANY PARK', 1239),
 ('ARCHER HEIGHTS', 3320),
 ('ARCHER HEIGHTS', 1503),
 ('ARMOUR SQUARE', 302),
 ('ARMOUR SQUARE', 492),
 ('ARMOUR SQUARE', 664),
 ('ASHBURN', 1324),
 ('ASHBURN', 490),
 ('ASHBURN', 537),
 ('ASHBURN', 1032),
 ('ASHBURN', 543),
 ('ASHBURN', 658),
 ('ASHBURN', 243),
 ('ASHBURN', 1656),
 ('AUBURN GRESHAM', 602),
 ('AUBURN GRESHAM', 418),
 ('AUBURN GRESHAM', 237),
 ('AUBURN GRESHAM', 482),
 ('AUBURN GRESHAM', 323),
 ('AUBURN GRESHAM', 512),
 ('AUBURN GRESHAM', 402),
 ('AUBURN GRESHAM', 538),
 ('AUBURN GRESHAM', 359),
 ('AUBURN GRESHAM', 302),
 ('AUSTIN', 316),
 ('AUSTIN', 250),
 ('AUSTIN', 377),
 ('AUSTIN', 1111),
 ('AUSTIN', 301),
 ('AUSTIN', 354),
 ('AUSTIN', 182),
 ('AUSTIN', 297),
 ('AUSTIN', 605),
 ('AUSTIN', 393),
 ('AUSTIN', 458),
 ('AUSTIN', 554),
 ('AUSTIN', 490),
 ('AUSTIN', 576),
 ('AUSTIN', 565),
 ('AUSTIN', 93),
 ('AUSTIN', 726),
 ('AUSTIN', 658),
 ('AUSTIN', 524),
 ('AUSTIN', 460),
 ('AUSTIN', 422),
 ('AUSTIN', 811),
 ('AUSTIN', 410),
 ('AVALON PARK', 398),
 ('AVALON PARK', 291),
 ('AVALON PARK', 833),
 ('AVONDALE', 644),
 ('AVONDALE', 860),
 ('AVONDALE', 1195),
 ('AVONDALE', 941),
 ('BELMONT CRAGIN', 634),
 ('BELMONT CRAGIN', 1415),
 ('BELMONT CRAGIN', 1890),
 ('BELMONT CRAGIN', 1001),
 ('BELMONT CRAGIN', 949),
 ('BELMONT CRAGIN', 1499),
 ('BELMONT CRAGIN', 1334),
 ('BELMONT CRAGIN', 1520),
 ('BELMONT CRAGIN', 1139),
 ('BELMONT CRAGIN', 826),
 ('BELMONT CRAGIN', 1423),
 ('BELMONT CRAGIN', 756),
 ('BEVERLY', 274),
 ('BEVERLY', 762),
 ('BEVERLY', 317),
 ('BEVERLY', 283),
 ('BRIDGEPORT', 600),
 ('BRIDGEPORT', 283),
 ('BRIDGEPORT', 535),
 ('BRIDGEPORT', 365),
 ('BRIDGEPORT', 1384),
 ('BRIGHTON PARK', 691),
 ('BRIGHTON PARK', 792),
 ('BRIGHTON PARK', 1038),
 ('BRIGHTON PARK', 867),
 ('BRIGHTON PARK', 1834),
 ('BRIGHTON PARK', 510),
 ('BRIGHTON PARK', 1032),
 ('BRIGHTON PARK', 2883),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 264),
 ('CALUMET HEIGHTS', 328),
 ('CALUMET HEIGHTS', 26),
 ('CALUMET HEIGHTS', 188),
 ('CALUMET HEIGHTS', 474),
 ('CALUMET HEIGHTS', 288),
 ('CHATHAM', 652),
 ('CHATHAM', 459),
 ('CHATHAM', 766),
 ('CHATHAM', 199),
 ('CHATHAM', 306),
 ('CHATHAM', 384),
 ('CHATHAM', 328),
 ('CHATHAM', 1535),
 ('CHATHAM', 413),
 ('CHICAGO LAWN', 531),
 ('CHICAGO LAWN', 823),
 ('CHICAGO LAWN', 604),
 ('CHICAGO LAWN', 891),
 ('CHICAGO LAWN', 1777),
 ('CHICAGO LAWN', 1390),
 ('CHICAGO LAWN', 1070),
 ('CLEARING', 137),
 ('CLEARING', 590),
 ('CLEARING', 872),
 ('CLEARING', 486),
 ('DOUGLAS', 483),
 ('DOUGLAS', 215),
 ('DOUGLAS', 306),
 ('DOUGLAS', 249),
 ('DOUGLAS', 258),
 ('DOUGLAS', 1456),
 ('DOUGLAS', 269),
 ('DOUGLAS', 590),
 ('DOUGLAS', 453),
 ('DOUGLAS', 266),
 ('DOUGLAS', 125),
 ('DUNNING', 784),
 ('DUNNING', 601),
 ('DUNNING', 502),
 ('DUNNING', 1004),
 ('DUNNING', 834),
 ('DUNNING', 843),
 ('EAST GARFIELD PARK', 551),
 ('EAST GARFIELD PARK', 411),
 ('EAST GARFIELD PARK', 364),
 ('EAST GARFIELD PARK', 328),
 ('EAST GARFIELD PARK', 726),
 ('EAST GARFIELD PARK', 323),
 ('EAST GARFIELD PARK', 293),
 ('EAST GARFIELD PARK', 518),
 ('EAST GARFIELD PARK', 599),
 ('EAST GARFIELD PARK', 434),
 ('EAST GARFIELD PARK', 362),
 ('EAST GARFIELD PARK', 194),
 ('EAST GARFIELD PARK', 234),
 ('EAST SIDE', 632),
 ('EAST SIDE', 813),
 ('EAST SIDE', 1524),
 ('EAST SIDE', 928),
 ('EAST SIDE', 1408),
 ('EDGEWATER', 709),
 ('EDGEWATER', 977),
 ('EDGEWATER', 423),
 ('EDGEWATER', 438),
 ('EDGEWATER', 1053),
 ('EDGEWATER', 1000),
 ('EDISON PARK', 650),
 ('EDISON PARK', 260),
 ('ENGLEWOOD', 539),
 ('ENGLEWOOD', 302),
 ('ENGLEWOOD', 301),
 ('ENGLEWOOD', 343),
 ('ENGLEWOOD', 365),
 ('ENGLEWOOD', 808),
 ('ENGLEWOOD', 561),
 ('ENGLEWOOD', 355),
 ('ENGLEWOOD', 262),
 ('ENGLEWOOD', 464),
 ('ENGLEWOOD', 334),
 ('ENGLEWOOD', 733),
 ('ENGLEWOOD', 369),
 ('ENGLEWOOD', 291),
 ('ENGLEWOOD', 440),
 ('ENGLEWOOD', 44),
 ('ENGLEWOOD', 321),
 ('FOREST GLEN', 468),
 ('FOREST GLEN', 549),
 ('FOREST GLEN', 414),
 ('FULLER PARK', 224),
 ('FULLER PARK', 307),
 ('GAGE PARK', 1021),
 ('GAGE PARK', 581),
 ('GAGE PARK', 1382),
 ('GAGE PARK', 1052),
 ('GAGE PARK', 970),
 ('GAGE PARK', 1222),
 ('GAGE PARK', 1846),
 ('GAGE PARK', 1186),
 ('GAGE PARK', 376),
 ('GAGE PARK', 279),
 ('GARFIELD RIDGE', 1589),
 ('GARFIELD RIDGE', 733),
 ('GARFIELD RIDGE', 1161),
 ('GARFIELD RIDGE', 705),
 ('GARFIELD RIDGE', 364),
 ('GRAND BOULEVARD', 436),
 ('GRAND BOULEVARD', 550),
 ('GRAND BOULEVARD', 329),
 ('GRAND BOULEVARD', 274),
 ('GRAND BOULEVARD', 324),
 ('GRAND BOULEVARD', 244),
 ('GRAND BOULEVARD', 411),
 ('GRAND BOULEVARD', 241),
 ('GREATER GRAND CROSSING', 310),
 ('GREATER GRAND CROSSING', 551),
 ('GREATER GRAND CROSSING', 182),
 ('GREATER GRAND CROSSING', 458),
 ('GREATER GRAND CROSSING', 448),
 ('GREATER GRAND CROSSING', 537),
 ('GREATER GRAND CROSSING', 476),
 ('GREATER GRAND CROSSING', 417),
 ('GREATER GRAND CROSSING', 352),
 ('GREATER GRAND CROSSING', 320),
 ('HEGEWISCH', 633),
 ('HEGEWISCH', 330),
 ('HERMOSA', 800),
 ('HERMOSA', 1252),
 ('HERMOSA', 862),
 ('HERMOSA', 1061),
 ('HUMBOLDT PARK', 801),
 ('HUMBOLDT PARK', 549),
 ('HUMBOLDT PARK', 828),
 ('HUMBOLDT PARK', 828),
 ('HUMBOLDT PARK', 893),
 ('HUMBOLDT PARK', 593),
 ('HUMBOLDT PARK', 429),
 ('HUMBOLDT PARK', 445),
 ('HUMBOLDT PARK', 349),
 ('HUMBOLDT PARK', 883),
 ('HUMBOLDT PARK', 831),
 ('HUMBOLDT PARK', 505),
 ('HUMBOLDT PARK', 686),
 ('HYDE PARK', 340),
 ('HYDE PARK', 403),
 ('HYDE PARK', 533),
 ('HYDE PARK', 654),
 ('IRVING PARK', 2366),
 ('IRVING PARK', 363),
 ('IRVING PARK', 688),
 ('IRVING PARK', 672),
 ('IRVING PARK', 638),
 ('IRVING PARK', 937),
 ('IRVING PARK', 1015),
 ('IRVING PARK', 650),
 ('IRVING PARK', 435),
 ('JEFFERSON PARK', 574),
 ('JEFFERSON PARK', 1181),
 ('KENWOOD', 550),
 ('KENWOOD', 325),
 ('KENWOOD', 915),
 ('KENWOOD', 112),
 ('KENWOOD', 1852),
 ('KENWOOD', 222),
 ('KENWOOD', 311),
 ('LAKE VIEW', 307),
 ('LAKE VIEW', 572),
 ('LAKE VIEW', 569),
 ('LAKE VIEW', 611),
 ('LAKE VIEW', 690),
 ('LAKE VIEW', 923),
 ('LAKE VIEW', 1500),
 ('LAKE VIEW', 432),
 ('LAKE VIEW', 729),
 ('LAKE VIEW', 257),
 ('LAKE VIEW', 465),
 ('LINCOLN PARK', 813),
 ('LINCOLN PARK', 576),
 ('LINCOLN PARK', 2342),
 ('LINCOLN PARK', 481),
 ('LINCOLN PARK', 605),
 ('LINCOLN PARK', 558),
 ('LINCOLN PARK', 240),
 ('LINCOLN SQUARE', 451),
 ('LINCOLN SQUARE', 695),
 ('LINCOLN SQUARE', 864),
 ('LINCOLN SQUARE', 1532),
 ('LINCOLN SQUARE', 590),
 ('LOGAN SQUARE', 586),
 ('LOGAN SQUARE', 622),
 ('LOGAN SQUARE', 619),
 ('LOGAN SQUARE', 1125),
 ('LOGAN SQUARE', 786),
 ('LOGAN SQUARE', 455),
 ('LOGAN SQUARE', 864),
 ('LOGAN SQUARE', 690),
 ('LOGAN SQUARE', 504),
 ('LOGAN SQUARE', 352),
 ('LOGAN SQUARE', 748),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 1683),
 ('LOWER WEST SIDE', 916),
 ('LOWER WEST SIDE', 501),
 ('LOWER WEST SIDE', 409),
 ('LOWER WEST SIDE', 286),
 ('LOWER WEST SIDE', 656),
 ('LOWER WEST SIDE', 426),
 ('LOWER WEST SIDE', 636),
 ('LOWER WEST SIDE', 709),
 ('LOWER WEST SIDE', 447),
 ('LOWER WEST SIDE', 588),
 ('MCKINLEY PARK', 321),
 ('MCKINLEY PARK', 389),
 ('MCKINLEY PARK', 631),
 ('MCKINLEY PARK', 211),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 204),
 ('MORGAN PARK', 342),
 ('MORGAN PARK', 588),
 ('MORGAN PARK', 553),
 ('MORGAN PARK', 1584),
 ('MOUNT GREENWOOD', 245),
 ('MOUNT GREENWOOD', 579),
 ('MOUNT GREENWOOD', 358),
 ('MOUNT GREENWOOD', 909),
 ('NEAR NORTH SIDE', 314),
 ('NEAR NORTH SIDE', 363),
 ('NEAR NORTH SIDE', 396),
 ('NEAR NORTH SIDE', 444),
 ('NEAR NORTH SIDE', 242),
 ('NEAR NORTH SIDE', 881),
 ('NEAR NORTH SIDE', 722),
 ('NEAR SOUTH SIDE', 446),
 ('NEAR SOUTH SIDE', 137),
 ('NEAR SOUTH SIDE', 795),
 ('NEAR WEST SIDE', 556),
 ('NEAR WEST SIDE', 100),
 ('NEAR WEST SIDE', 606),
 ('NEAR WEST SIDE', 475),
 ('NEAR WEST SIDE', 366),
 ('NEAR WEST SIDE', 784),
 ('NEAR WEST SIDE', 21),
 ('NEAR WEST SIDE', 461),
 ('NEAR WEST SIDE', 478),
 ('NEAR WEST SIDE', 250),
 ('NEAR WEST SIDE', 351),
 ('NEAR WEST SIDE', 398),
 ('NEAR WEST SIDE', 482),
 ('NEAR WEST SIDE', 2166),
 ('NEAR WEST SIDE', 217),
 ('NEAR WEST SIDE', 264),
 ('NEW CITY', 556),
 ('NEW CITY', 476),
 ('NEW CITY', 539),
 ('NEW CITY', 915),
 ('NEW CITY', 357),
 ('NEW CITY', 461),
 ('NEW CITY', 473),
 ('NEW CITY', 845),
 ('NEW CITY', 679),
 ('NEW CITY', 797),
 ('NEW CITY', 466),
 ('NEW CITY', 896),
 ('NEW CITY', 462),
 ('NORTH CENTER', 4368),
 ('NORTH CENTER', 232),
 ('NORTH CENTER', 998),
 ('NORTH CENTER', 200),
 ('NORTH CENTER', 495),
 ('NORTH CENTER', 668),
 ('NORTH CENTER', 580),
 ('NORTH LAWNDALE', 171),
 ('NORTH LAWNDALE', 315),
 ('NORTH LAWNDALE', 409),
 ('NORTH LAWNDALE', 298),
 ('NORTH LAWNDALE', 556),
 ('NORTH LAWNDALE', 220),
 ('NORTH LAWNDALE', 365),
 ('NORTH LAWNDALE', 83),
 ('NORTH LAWNDALE', 508),
 ('NORTH LAWNDALE', 48),
 ('NORTH LAWNDALE', 271),
 ('NORTH LAWNDALE', 200),
 ('NORTH LAWNDALE', 479),
 ('NORTH LAWNDALE', 512),
 ('NORTH LAWNDALE', 288),
 ('NORTH LAWNDALE', 423),
 ('NORTH PARK', 1636),
 ('NORTH PARK', 363),
 ('NORTH PARK', 860),
 ('NORTH PARK', 1053),
 ('NORTH PARK', 298),
 ('NORWOOD PARK', 160),
 ('NORWOOD PARK', 431),
 ('NORWOOD PARK', 720),
 ('NORWOOD PARK', 359),
 ('NORWOOD PARK', 648),
 ('NORWOOD PARK', 542),
 ('NORWOOD PARK', 2922),
 ('NORWOOD PARK', 687),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 1716),
 ('PORTAGE PARK', 672),
 ('PORTAGE PARK', 203),
 ('PORTAGE PARK', 832),
 ('PORTAGE PARK', 1139),
 ('PORTAGE PARK', 1047),
 ('PORTAGE PARK', 1345),
 ('PULLMAN', 192),
 ('PULLMAN', 621),
 ('PULLMAN', 259),
 ('PULLMAN', 185),
 ('PULLMAN', 363),
 ('RIVERDALE', 532),
 ('RIVERDALE', 546),
 ('RIVERDALE', 285),
 ('RIVERDALE', 184),
 ('ROGERS PARK', 375),
 ('ROGERS PARK', 753),
 ('ROGERS PARK', 886),
 ('ROGERS PARK', 696),
 ('ROGERS PARK', 826),
 ('ROGERS PARK', 532),
 ('ROSELAND', 525),
 ('ROSELAND', 428),
 ('ROSELAND', 688),
 ('ROSELAND', 233),
 ('ROSELAND', 310),
 ('ROSELAND', 504),
 ('ROSELAND', 609),
 ('ROSELAND', 504),
 ('ROSELAND', 783),
 ('ROSELAND', 1245),
 ('ROSELAND', 424),
 ('ROSELAND', 394),
 ('ROSELAND', 373),
 ('SOUTH CHICAGO', 905),
 ('SOUTH CHICAGO', 554),
 ('SOUTH CHICAGO', 472),
 ('SOUTH CHICAGO', 449),
 ('SOUTH CHICAGO', 701),
 ('SOUTH CHICAGO', 435),
 ('SOUTH CHICAGO', 527),
 ('SOUTH DEERING', 286),
 ('SOUTH DEERING', 841),
 ('SOUTH DEERING', 361),
 ('SOUTH DEERING', 371),
 ('SOUTH LAWNDALE', 446),
 ('SOUTH LAWNDALE', 894),
 ('SOUTH LAWNDALE', 631),
 ('SOUTH LAWNDALE', 1456),
 ('SOUTH LAWNDALE', 1133),
 ('SOUTH LAWNDALE', 988),
 ('SOUTH LAWNDALE', 314),
 ('SOUTH LAWNDALE', 713),
 ('SOUTH LAWNDALE', 371),
 ('SOUTH LAWNDALE', 130),
 ('SOUTH LAWNDALE', 388),
 ('SOUTH LAWNDALE', 809),
 ('SOUTH LAWNDALE', 793),
 ('SOUTH LAWNDALE', 1204),
 ('SOUTH LAWNDALE', 654),
 ('SOUTH LAWNDALE', 842),
 ('SOUTH LAWNDALE', 1306),
 ('SOUTH LAWNDALE', 324),
 ('SOUTH LAWNDALE', 525),
 ('SOUTH LAWNDALE', 205),
 ('SOUTH LAWNDALE', 285),
 ('SOUTH LAWNDALE', 382),
 ('SOUTH SHORE', 521),
 ('SOUTH SHORE', 783),
 ('SOUTH SHORE', 238),
 ('SOUTH SHORE', 731),
 ('SOUTH SHORE', 575),
 ('SOUTH SHORE', 317),
 ('SOUTH SHORE', 775),
 ('SOUTH SHORE', 348),
 ('SOUTH SHORE', 255),
 ('UPTOWN', 280),
 ('UPTOWN', 355),
 ('UPTOWN', 362),
 ('UPTOWN', 462),
 ('UPTOWN', 473),
 ('UPTOWN', 1651),
 ('UPTOWN', 805),
 ('WASHINGTON HEIGHTS', 246),
 ('WASHINGTON HEIGHTS', 344),
 ('WASHINGTON HEIGHTS', 478),
 ('WASHINGTON HEIGHTS', 356),
 ('WASHINGTON HEIGHTS', 367),
 ('WASHINGTON HEIGHTS', 290),
 ('WASHINGTON HEIGHTS', 1226),
 ('WASHINGTON HEIGHTS', 445),
 ('WASHINGTON HEIGHTS', 254),
 ('WASHINGTON PARK', 350),
 ('WASHINGTON PARK', 318),
 ('WASHINGTON PARK', 244),
 ('WASHINGTON PARK', 1365),
 ('WASHINGTON PARK', 371),
 ('WEST ELSDON', 1560),
 ('WEST ELSDON', 967),
 ('WEST ELSDON', 1173),
 ('WEST ENGLEWOOD', 339),
 ('WEST ENGLEWOOD', 345),
 ('WEST ENGLEWOOD', 573),
 ('WEST ENGLEWOOD', 407),
 ('WEST ENGLEWOOD', 331),
 ('WEST ENGLEWOOD', 419),
 ('WEST ENGLEWOOD', 402),
 ('WEST ENGLEWOOD', 527),
 ('WEST ENGLEWOOD', 511),
 ('WEST ENGLEWOOD', 916),
 ('WEST ENGLEWOOD', 354),
 ('WEST ENGLEWOOD', 201),
 ('WEST ENGLEWOOD', 621),
 ('WEST GARFIELD PARK', 430),
 ('WEST GARFIELD PARK', 370),
 ('WEST GARFIELD PARK', 414),
 ('WEST GARFIELD PARK', 315),
 ('WEST GARFIELD PARK', 321),
 ('WEST GARFIELD PARK', 245),
 ('WEST GARFIELD PARK', 259),
 ('WEST GARFIELD PARK', 268),
 ('WEST LAWN', 830),
 ('WEST LAWN', 1672),
 ('WEST LAWN', 873),
 ('WEST LAWN', 832),
 ('WEST PULLMAN', 138),
 ('WEST PULLMAN', 340),
 ('WEST PULLMAN', 266),
 ('WEST PULLMAN', 375),
 ('WEST PULLMAN', 489),
 ('WEST PULLMAN', 283),
 ('WEST PULLMAN', 285),
 ('WEST PULLMAN', 352),
 ('WEST PULLMAN', 369),
 ('WEST PULLMAN', 343),
 ('WEST RIDGE', 752),
 ('WEST RIDGE', 1139),
 ('WEST RIDGE', 1509),
 ('WEST RIDGE', 811),
 ('WEST RIDGE', 735),
 ('WEST RIDGE', 289),
 ('WEST RIDGE', 1657),
 ('WEST RIDGE', 646),
 ('WEST RIDGE', 659),
 ('WEST TOWN', 620),
 ('WEST TOWN', 398),
 ('WEST TOWN', 114),
 ('WEST TOWN', 669),
 ('WEST TOWN', 429),
 ('WEST TOWN', 309),
 ('WEST TOWN', 289),
 ('WEST TOWN', 344),
 ('WEST TOWN', 269),
 ('WEST TOWN', 491),
 ('WEST TOWN', 474),
 ('WEST TOWN', 348),
 ('WEST TOWN', 869),
 ('WEST TOWN', 609),
 ('WEST TOWN', 580),
 ('WEST TOWN', 91),
 ('WEST TOWN', 558),
 ('WEST TOWN', 1016),
 ('WEST TOWN', 319),
 ('WEST TOWN', 633),
 ('WOODLAWN', 730),
 ('WOODLAWN', 337),
 ('WOODLAWN', 381),
 ('WOODLAWN', 471),
 ('WOODLAWN', 1518),
 ('WOODLAWN', 277),
 ('WOODLAWN', 254),
 ('WOODLAWN', 238)]

In [167]:
%sql SELECT COMMUNITY_AREA_NAME, AVG(COLLEGE_ENROLLMENT) AS AVERAGE_COLLEGE_ENROLLMENT \
FROM CHICAGO_PUBLIC_SCHOOLS \
GROUP BY COMMUNITY_AREA_NAME \
ORDER BY AVERAGE_COLLEGE_ENROLLMENT DESC\
LIMIT 5

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('858.000000')),
 ('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('ARMOUR SQUARE', Decimal('486.000000')),
 ('ASHBURN', Decimal('810.375000')),
 ('AUBURN GRESHAM', Decimal('417.500000')),
 ('AUSTIN', Decimal('475.347826')),
 ('AVALON PARK', Decimal('507.333333')),
 ('AVONDALE', Decimal('910.000000')),
 ('BELMONT CRAGIN', Decimal('1198.833333')),
 ('BEVERLY', Decimal('409.000000')),
 ('BRIDGEPORT', Decimal('633.400000')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BURNSIDE', Decimal('549.000000')),
 ('CALUMET HEIGHTS', Decimal('261.333333')),
 ('CHATHAM', Decimal('560.222222')),
 ('CHICAGO LAWN', Decimal('1012.285714')),
 ('CLEARING', Decimal('521.250000')),
 ('DOUGLAS', Decimal('424.545454')),
 ('DUNNING', Decimal('761.333333')),
 ('EAST GARFIELD PARK', Decimal('410.538461')),
 ('EAST SIDE', Decimal('1061.000000')),
 ('EDGEWATER', Decimal('766.666666')),
 ('EDISON PARK', Decimal('455.000000')),
 ('ENGLEWOOD', Decimal('401.882352')),
 ('FOREST GLEN', Decimal('477.000000')),
 ('FULLER PARK', Decimal('265.500000')),
 ('GAGE PARK', Decimal('991.500000')),
 ('GARFIELD RIDGE', Decimal('910.400000')),
 ('GRAND BOULEVARD', Decimal('351.125000')),
 ('GREATER GRAND CROSSING', Decimal('405.100000')),
 ('HEGEWISCH', Decimal('481.500000')),
 ('HERMOSA', Decimal('993.750000')),
 ('HUMBOLDT PARK', Decimal('663.076923')),
 ('HYDE PARK', Decimal('482.500000')),
 ('IRVING PARK', Decimal('862.666666')),
 ('JEFFERSON PARK', Decimal('877.500000')),
 ('KENWOOD', Decimal('612.428571')),
 ('LAKE VIEW', Decimal('641.363636')),
 ('LINCOLN PARK', Decimal('802.142857')),
 ('LINCOLN SQUARE', Decimal('826.400000')),
 ('LOGAN SQUARE', Decimal('668.272727')),
 ('LOOP', Decimal('871.000000')),
 ('LOWER WEST SIDE', Decimal('659.727272')),
 ('MCKINLEY PARK', Decimal('388.000000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('MORGAN PARK', Decimal('654.200000')),
 ('MOUNT GREENWOOD', Decimal('522.750000')),
 ('NEAR NORTH SIDE', Decimal('480.285714')),
 ('NEAR SOUTH SIDE', Decimal('459.333333')),
 ('NEAR WEST SIDE', Decimal('498.437500')),
 ('NEW CITY', Decimal('609.384615')),
 ('NORTH CENTER', Decimal('1077.285714')),
 ('NORTH LAWNDALE', Decimal('321.625000')),
 ('NORTH PARK', Decimal('842.000000')),
 ('NORWOOD PARK', Decimal('808.625000')),
 ('OAKLAND', Decimal('140.000000')),
 ('OHARE', Decimal('786.000000')),
 ('PORTAGE PARK', Decimal('993.428571')),
 ('PULLMAN', Decimal('324.000000')),
 ('RIVERDALE', Decimal('386.750000')),
 ('ROGERS PARK', Decimal('678.000000')),
 ('ROSELAND', Decimal('540.000000')),
 ('SOUTH CHICAGO', Decimal('577.571428')),
 ('SOUTH DEERING', Decimal('464.750000')),
 ('SOUTH LAWNDALE', Decimal('672.409090')),
 ('SOUTH SHORE', Decimal('504.777777')),
 ('UPTOWN', Decimal('626.857142')),
 ('WASHINGTON HEIGHTS', Decimal('445.111111')),
 ('WASHINGTON PARK', Decimal('529.600000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('WEST ENGLEWOOD', Decimal('457.384615')),
 ('WEST GARFIELD PARK', Decimal('327.750000')),
 ('WEST LAWN', Decimal('1051.750000')),
 ('WEST PULLMAN', Decimal('324.000000')),
 ('WEST RIDGE', Decimal('910.777777')),
 ('WEST TOWN', Decimal('471.450000')),
 ('WOODLAWN', Decimal('525.750000'))]

In [172]:
%sql SELECT COMMUNITY_AREA_NAME, SAFETY_SCORE \
FROM CHICAGO_PUBLIC_SCHOOLS \
ORDER BY SAFETY_SCORE LIMIT 1

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 1)]

In [185]:
%sql SELECT COMMUNITY_AREA_NAME \
FROM CHICAGO_PUBLIC_SCHOOLS \
WHERE SAFETY_SCORE = (SELECT MIN(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

In [183]:
%sql SELECT MIN(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(1,)]

In [186]:
%sql SELECT S.COMMUNITY_AREA_NAME, C.PER_CAPITA_INCOME  \
FROM CHICAGO_PUBLIC_SCHOOLS as S, CENSUS_DATA as C \
WHERE SAFETY_SCORE = (SELECT MIN(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://gqs15811:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 23939),
 ('WASHINGTON PARK', 28202),
 ('WASHINGTON PARK', 33385),
 ('WASHINGTON PARK', 25828),
 ('WASHINGTON PARK', 27149),
 ('WASHINGTON PARK', 34381),
 ('WASHINGTON PARK', 19713),
 ('WASHINGTON PARK', 39523),
 ('WASHINGTON PARK', 15528),
 ('WASHINGTON PARK', 23482),
 ('WASHINGTON PARK', 17285),
 ('WASHINGTON PARK', 11888),
 ('WASHINGTON PARK', 11317),
 ('WASHINGTON PARK', 13231),
 ('WASHINGTON PARK', 16907),
 ('WASHINGTON PARK', 25113),
 ('WASHINGTON PARK', 12171),
 ('WASHINGTON PARK', 15754),
 ('WASHINGTON PARK', 12765),
 ('WASHINGTON PARK', 22694),
 ('WASHINGTON PARK', 16954),
 ('WASHINGTON PARK', 13089),
 ('WASHINGTON PARK', 16134),
 ('WASHINGTON PARK', 26353),
 ('WASHINGTON PARK', 22677),
 ('WASHINGTON PARK', 8201),
 ('WASHINGTON PARK', 16563),
 ('WASHINGTON PARK', 17104),
 ('WASHINGTON PARK', 14685),
 ('WASHINGTON PARK', 20588),
 ('WASHINGTON PARK', 17949),
 ('WASHINGTON PARK', 28887),
 ('WASHINGTON PARK', 12515),
 ('WASHINGTON PARK', 16579),
 ('WASHINGTON PARK', 24454),
 ('WASHINGTON PARK', 18881),
 ('WASHINGTON PARK', 19398),
 ('WASHINGTON PARK', 18672),
 ('WASHINGTON PARK', 39056),
 ('WASHINGTON PARK', 13785),
 ('WASHINGTON PARK', 35911),
 ('WASHINGTON PARK', 23472),
 ('WASHINGTON PARK', 10432),
 ('WASHINGTON PARK', 19252),
 ('WASHINGTON PARK', 23791),
 ('WASHINGTON PARK', 16148),
 ('WASHINGTON PARK', 59077),
 ('WASHINGTON PARK', 65526),
 ('WASHINGTON PARK', 16444),
 ('WASHINGTON PARK', 10402),
 ('WASHINGTON PARK', 12034),
 ('WASHINGTON PARK', 44689),
 ('WASHINGTON PARK', 12961),
 ('WASHINGTON PARK', 10934),
 ('WASHINGTON PARK', 15957),
 ('WASHINGTON PARK', 43198),
 ('WASHINGTON PARK', 13781),
 ('WASHINGTON PARK', 31908),
 ('WASHINGTON PARK', 20039),
 ('WASHINGTON PARK', 15089),
 ('WASHINGTON PARK', 15461),
 ('WASHINGTON PARK', 22014),
 ('WASHINGTON PARK', 26282),
 ('WASHINGTON PARK', 27249),
 ('WASHINGTON PARK', 24336),
 ('WASHINGTON PARK', 21323),
 ('WASHINGTON PARK', 26576),
 ('WASHINGTON PARK', 44164),
 ('WASHINGTON PARK', 27751),
 ('WASHINGTON PARK', 32875),
 ('WASHINGTON PARK', 40959),
 ('WASHINGTON PARK', 88669),
 ('WASHINGTON PARK', 71551),
 ('WASHINGTON PARK', 60058),
 ('WASHINGTON PARK', 57123),
 ('WASHINGTON PARK', 37524),
 ('WASHINGTON PARK', 35787),
 ('WASHINGTON PARK', 23040)]